.title {
  font-size: 2rem;
  font-weight: 700;
  background-clip: text;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
