.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Should be 100vw to define the viewport */
  height: 100%;
  z-index: -2; /* Move it behind other content */
  overflow: hidden;
  background-color: #383841;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distribute rows evenly */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.472);
    z-index: -1;
}

.row {
    display: flex;
    flex-shrink: 0; /* Prevent the row from shrinking */
    width: max-content; /* Let the width be determined by its content */
    overflow: visible;
}

.block {
    width: 20vw;
    flex-shrink: 0; /* Prevent blocks from shrinking */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}