.layout {
  display: grid;
  grid-template-rows: 1fr var(--footer-height);
  min-height: calc(100vh);
}

.main {
  grid-row: 1;
  z-index: 1;
  min-height: 0;
  overflow: hidden;
}

.footer {
  grid-row: 2;
}
